.slider {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 500px;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 2%;
    margin-top: 2%;
}

.slider-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.slide {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.arrow {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50% ;
    border: 1px solid white;
    cursor: pointer;
    transition: transform ease-in .1s;
    opacity: 0.7;
}
.arrow:hover {
    background-color:black;
    border: none;
    height: 27px;
    width: 27px;
}


.nextArrow {
    position: absolute;
    top: 50%;
    right: 25px;
    z-index: 999;
    color: #fff;
}

.backArrow {
    position: absolute;
    top: 50%;
    left: 25px;
    z-index: 999;
    color: #fff;
}



