//Grid style
.grid {
    background-color:#fafafa;
}
//GridNav style
@mixin flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-nav-wrap {
    border: solid  #e1e1e1;;
    border-width: 1px 0;
    margin: 0 10% 3%;

    .grid-nav {
        @include flex-container;
        list-style: none;
        color: #777777;
        font-family: sans-serif;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.05px;
        
        li {
            margin: 0 20px;
            &:hover {
                color: #000000;
                cursor: pointer;
            }
        }

        .grey-slash {
            width: 1px;
            height: 30px;
            background-color: #e1e1e1;
            transform: rotate(30deg);
            margin: 0;
        }
    }    
}

//GridImg style
.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 10%;

    .column {
        flex: 25%;
        max-width: 25%;
        margin: 0 8px;

        .image-container {
            position: relative;
            transition: 0.3s ease;
            
            &:hover .after {
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgba(0, 0, 0, .6);
                cursor: pointer;
            } 
            
            img {
                width: 100%;
                margin-top: 8px;
                vertical-align: middle;
            }

            .after {
                position: absolute;
                top: 8px;
                left: 0;
                width: 100%;
                height: 98%;
                display: none;
                color: #FFF;
                font-size: 60px;
            }
        }        
    }
}

//GridBtn style
.grid-btn {
    @include flex-container;
    margin-top: 46px;
    
    button {
        background-color: #959595;
        border: none;
        padding: 10px 24px;
        color: #ffffff;
        font-family: sans-serif;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.76px;
        outline: none;
        margin-bottom: 50px;
        &:hover {
            background-color: #000000;
            cursor: pointer;
        }
    }
}

//GridNav media query 
@media screen and (max-width: 1050px) { 
    .grid-nav-wrap {
        margin: 0 0 2%;
    }
 }

 @media screen and (max-width: 750px) { 
    .grid-nav-wrap {
        .grid-nav {
            flex-wrap: wrap;
            text-align: center;

            li {
                margin: 10px 5px;
            }
            .grey-slash {
                transform: none;
                height: 20px;
            }
        }

        
    }
 }


 //GridImg media query
 @media screen and (max-width: 1200px) {
    .row {
        .column {
            flex: 40%;
            max-width: 50%;
        } 
        .third-column {
            display: none;
        }
    }
}
  @media screen and (max-width: 600px) {
    .row {
        .column {
            flex: 100%;
            max-width: 100%;
        }
        .third-column {
            display: block;
        }
    }
}

