.header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .menu-list {
        display: flex;
        list-style: none;
        color: #777777;
        font-family: sans-serif;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.05px;
    }
    li {
        margin: 0 20px;
        &:hover {
            color: #000000;
            cursor: pointer;
        }
    }
}